<div class="container page privacy-page fadein-effect">

  <h1 class="page-title">Privacy policy</h1>

  <div class="privacy-content">

  <p>Kidkards is an application provided to the public and Apple Store by the Owner.</p>

  <p>Kidkards does not store any of the User personnal informations. The application does not require registration from the User and it does not try to access personnal data.</p>

  <p>The Kidkards application only allows the Owner to monitor and analyze web traffic using Google Analytics (Google Inc.), and can use it to keep track of User behavior.<br>
  Google Analytics is a web analysis service provided by Google Inc. (“Google”). Google utilizes the Data collected to track and examine the use of this Application, to prepare reports on its activities and share them with other Google services.<br>
  Google may use the Data collected to contextualize and personalize the ads of its own advertising network.<br>
  Personal Data collected: Cookies and Usage data.<br>
  Place of processing: US – <a href="https://www.google.com/intl/en/policies/privacy/">Privacy Policy</a> – <a href="https://tools.google.com/dlpage/gaoptout?hl=en">Opt Out</a></p>

  <p>Kidkards is not responsible for, and expressly disclaims all liability for, damages of any kind arising out of use, reference to, or reliance on any information contained within the application. While the information contained within the application is periodically updated, no guarantee is given that the information provided in this Web application is correct, complete, and up-to-date.</p>

  <p>Although the Kidkards application may include links providing direct access to other Internet resources, Kidkards is not responsible for the accuracy or content of information contained in these applications.</p>

  <p>You can contact Kidkards support by clicking here : <a href="mailto:rdeswarte.sf@gmail.com">Email Support</a></p>
  </div>
</div>
