<div class="container page home-page fadein-effect" ng-init="initialize()">

 <h1 class="page-title">Selection</h1>

 <section class="row links-container">
   <a href="#/categories" class="home-links categories col-xs-12 col-sm-4">
     <span>Explore</span>
   </a>
   <a href="#/quizz-categories" class="home-links quizz col-xs-12 col-sm-4">
     <span>Practice</span>
   </a>
   <a href="#/matching-categories" class="home-links matching col-xs-12 col-sm-4">
     <span>Play</span>
   </a>
 </section>
 
 <a href="#/informations" class='informations-link'><i class="fa fa-question-circle"></i></a>

</div>
