<div ng-controller="headerController">
  <nav class="navbar navbar-default header-menu">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navigation-link-container" ng-controller='AuthController'>
        <ul>
          <li class="menu-link">
            <a href="#/">
              <i class="fa fa-home"></i>
            </a>
          </li>
          <li class="menu-link">
            <a href="#/categories">
              <i class="fa fa-book"></i>
            </a>
          </li>
          <li class="menu-link">
            <a href="#/quizz-categories">
              <i class="fa fa-clone"></i>
            </a>
          </li>
          <li class="menu-link">
            <a href="#/matching-categories">
              <i class="fa fa-th-large"></i>
            </a>
          </li>
          <li ng-show="user.isAdmin" class="menu-link">
            <a href="#/add-flashcard">
              <i class="fa fa-plus-circle"></i>
            </a>
          </li>
          <li ng-show="user" class="menu-link">
            <a href="" ng-click='logout()'>
              <i class="fa fa-sign-out"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>