$bgColor: #FFFFFF;
$redColor: #E32636;
$greenColor: #25b695;
$blueColor: #00a1e0;
$salmonColor: #ed6f70;
$whiteColor: #FFFFFF;

$lightGreyColor: #CCC;
$darkGreyColor: #323a45;

// Theme Color
$mainColor: $blueColor;
$secondaryColor: $blueColor;

