<div class="container page quizz-category-page fadein-effect" ng-init="initMatching()">

  <h1 class="page-title">{{category}}</h1>

  <div id="loader"></div>

  <section class="buttons-interaction fadein-effect">
    <a href="#/quizz-categories" class="backToCategories btn btn-primary" ng-click="nextCard()"><i class="fa fa-chevron-circle-left"></i></a>
    <button class="previous btn-primary btn" ng-click="previousCard()">Previous</button>
    <button class="next btn-primary btn" ng-click="nextCard()">Next</button>
    <div class="sound-control">
      <button class="btn btn-primary volume enable" ng-click="toggleSound()" ng-show="sound"><i class="fa fa-volume-up"></i></button>
      <button class="btn btn-primary volume disable" class="btn" ng-click="toggleSound()" ng-show="!sound"> <i class="fa fa-volume-off"></i></button>
    </div>
  </section>

  <section class="row flashcard-container">
    <div class="flip-container col-xs-12 fadein-effect" ontouch="this.classList.toggle('flipped');" onclick="this.classList.toggle('flipped');" ng-click="sayCardContent(flashcard.definition)">
      <div class="flipper">
        <!-- Front side of the card -->
        <div class="side front">
          <!-- Image Term Container -->
          <div class="picture-container inner-top-container" back-img="{{flashcard.picture}}"></div>   
          <!-- Text Term Container -->
          <div class="term-container inner-top-container">
            <span>{{flashcard.term}}</span>
          </div>
        </div>
        <!-- Back side of the card -->
        <div class="side back">
          <span class="card-definition">{{flashcard.definition}}</span>
        </div>
      </div>
    </div>
  </section>

  <section class="how-to">
    <p>Touch / Click the card to see the answer</p>
  </section>

  <section class="no-more-cards">
    <p class="no-more-cards hide">No more cards</p>
  </section>

</div>
