<div class="flashcard"  ng-class=" {{value.isImg}} ? 'flashcard-img' : 'flashcard-text'" ng-controller="updateDeleteController">
<!-- Default template for flashcards -->

  <div class="top-container">
    <div class="picture-container inner-top-container" ng-show="{{value.isImg}}" ng-style="{'background-image':'url({{ value.picture }})'}"> 
    </div>

    <div class="term-container inner-top-container" ng-hide="{{value.isImg}}">
      <span>{{value.term}}</span>
    </div>
  </div>

  <div class="bottom-container">
    <span>{{value.definition}}</span>
  </div>

  <div ng-show='user && user.isAdmin' class="update-delete-container cf">
    <button class="btn update" ng-click="showUpdateModal(key,this)"><i class="fa fa-pencil"></i></button>
    <button class="btn delete" ng-click="showDeleteModal(key)"><i class="fa fa-trash"></i></button>
  </div>
</div>