  .flip-container {
    @include browserAdaptation(perspective, 1000px);
    @include browserAdaptation(transform-style, preserve-3d);
    position: relative;

    &.flipped {
      .flipper {
        .side.back {
          @include browserAdaptation(transform, rotateX(0deg));
        }
        .side.front {
          @include browserAdaptation(transform, rotateX(180deg));
        }
      }
    }
    .flipper {
      @include absolutePos(0px,0px,0px,0px);
      @include browserAdaptation(transition, 0.6s);
      @include browserAdaptation(transform-style, preserve-3d);

      .side {
        @include browserAdaptation(backface-visibility, hidden);
        @include browserAdaptation(transition, 0.6s);
        @include browserAdaptation(transform-style, preserve-3d);
        @include box-shadow(1px, 1px, 2px, 1px, rgba(0,0,0,0.1));
        position: absolute;
        top: 0;
        left: 0;

        &.front {
          background-color: $whiteColor;
          @include border-radius(3px, 1px, $lightGreyColor);
          @include browserAdaptation(transform, rotateX(0deg));

          overflow: hidden;
          font-size: 18px;
          font-weight: bold;

          z-index: 2;

          .picture-container {
            width: 100%;
            height: 100%;
            @include backgroundImg();
            display: none;
            &.displayed {
              // Override Angular ng-hide
              display: block !important;
            }
          }
          .term-container {
            padding: 10px;
            @include flexCenter();
            background-color: $darkGreyColor;
            @include gradientBackground(#464e5b,#333333);
            position: absolute;
            @include absolutePos(0px,0px,0px,0px);
            color:$whiteColor;
            display: none;
            &.displayed {
              // Override Angular ng-hide
              display: flex !important;
              display: -webkit-flex !important;
              display: -moz-flex !important;
            }
          }
        }
        &.back {
          background-color: $whiteColor;
          font-size: 18px;
          font-weight: bold;
          padding: 10px;
          @include flexCenter();
          @include border-radius(3px, 1px, $lightGreyColor);
          overflow: hidden;
          @include browserAdaptation(transform, rotateX(-180deg));
          .card-definition {
            text-transform: capitalize;
          }
        }
      }

    }
  }