.header {
  .header-menu {
    position: fixed;
    top: 0px;
    min-height: 70px;
    width: 100%;
    z-index: 999;
    margin-bottom: 0px;
    background-color: $mainColor;
    border:none;
    //border-bottom: 1px solid $lightGreyColor;
    .navigation-link-container {
      ul {
        text-align: center;
        margin: 30px 0px 0px;
        .menu-link {
          display: inline-block;
          margin: 0px 20px;
          a {
            font-size: 28px;
            line-height: 20px;
            color: $whiteColor;
          }
        }
      }
    }
  }
  @media (min-width: 768px) {
    .navbar {
        border-radius: 0px;
    }
  }
}