.login-page {
  #login-form {
    .modal-body {
      .navigation-button-container {
        text-align: center;
        margin-bottom: 10px;
      }
      .submit-container {
        text-align: center;
      }
    }
  }
}