<!-- Update Modal -->
<div class="modal fade" id="update-modal" tabindex="-1" role="dialog" aria-labelledby="updateModal" ng-controller="updateDeleteController">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="updateModal">Update the Flashcard</h4>
      </div>
      <form class="update-form" ng-submit="updateForm()">
        <div class="modal-body cf">
          <!-- Update form -->
          <section class="form-container col-xs-12 col-sm-offset-3 col-sm-6 signup-container">
            
            <input type="hidden" class="card-id" name="cardId" value="">
            <div class="form-group">
              <label>Definition</label>
              <textarea id="fc-definition-update" class="form-control" rows="3" maxlength="200" required></textarea>
            </div>
            <div class="submit-container">
              <!-- <button type="submit" class="btn btn-primary submit">Submit</button> -->
            </div>
            
          </section>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary submit">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>


<!-- Delete Modal -->
<div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="deleteModal" ng-controller="updateDeleteController">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="deleteModal">Delete the Flashcard</h4>
      </div>
      <div class="modal-body cf">
        <!-- Update form -->
        <section class="form-container col-xs-12 col-sm-offset-3 col-sm-6 signup-container">
          <form class="update-form" ng-submit="deleteForm()">
            <input type="hidden" class="card-id-delete" name="cardIdDelete" value="">
            <h4>Are you sure?</h4>
            <div class="submit-container">
              <button type="submit" class="btn btn-warning submit">Delete</button>
            </div>
          </form>
        </section>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>


